################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ORM CRUD(ASSIGEMENT-2)/.vs/ORM CRUD(ASSIGEMENT-2)/DesignTimeBuild/.dtbcache
/ORM CRUD(ASSIGEMENT-2)/.vs/ORM CRUD(ASSIGEMENT-2)/v16
